:root {
  
  
    --main-blue: #155799
  ;
    --light-blue: #318AE3
  ;
    --fair-blue: #8BBDEF
  ;
    --black: #131313
  ;
    --dark: #383838
  ;
    --dark-two: #333333
  ;
    --grey: #7E7E7E
  ;
    --dim-grey: #6D6D64
  ;
    --granite-grey: #616161
  ;
    --lighter-grey: #F2F2F2
  ;
    --light-grey: #D3D3D3
  ;
    --cultured: #F5F5F5
  ;
    --white: #FFFFFF
  ;
  }