.header2 {
    background-color: white;
    width: 100vw;
    height: 120px;
    box-shadow: 2px 2px 4px silver;
    padding: 5px;
    position: fixed;
    top: 0px;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

.header2-sticky {
    pointer-events: all;
    opacity: 1;
}

.header2_top{
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
}

.header2_left_logo img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.MuiBox-root .MuiIconButton-sizeSmall {
    margin-left: 5px;
}

/* --- Anmelden Einloggen --- */
.header2_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

.header2_right .css-1h3inx4-MuiButtonBase-root-MuiButton-root{
    font-size: 0.7rem;
}

/* --- Verlinkung Logo --- */
.link_home {
    text-decoration: none;
}

/* --- Calender --- */

#myHeader .css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
    border: none;
    padding: 0;
    font-size: 0.875rem;
    letter-spacing: 0;
    line-height: 1;
    font-weight: normal;
}



.header2_kalender {
    display: flex;
    justify-content: center;
    
    
}


@media screen and (min-width:768px) {
    .header2_left_logo img {
        width: 100px;
        height: 100px;
        border-radius: 5px;
    }
    .header2 {
        height: 100px;
    }
    .header2_kalender .calendar-search{
        margin-top: -70px;
    }
    
}